@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;600&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: #1c223b;
  color: #fff;
  font-family: "Source Sans Pro", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.container {
  background-color: #273349;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(12, 16, 31, 0.4);
  padding: 100px;
  margin: auto;
  width: 1000px;
}

.modifiers {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  width: 100%;
}

.search-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #1d2545;
  border-radius: 3px;
  color: #6f7389;
  font-family: inherit;
  font-weight: 600;
  font-size: 14px;
  padding-left: 15px;
  width: 50%;
  height: 50px;
}

.search-container i {
  flex: 1;
}

input {
  flex: 12;
  background-color: transparent;
  border: 0;
  color: #fff;
  font: inherit;
  width: 100%;
  height: 100%;
}

input:focus {
  outline: none;
}

.btn {
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #1d2545;
  border-radius: 3px;
  color: #6f7389;
  position: relative;
  display: inline-block;
  font-family: inherit;
  font-weight: 600;
  font-size: 14px;
  padding: 15px;
  margin: 20px 0;
}

.btn .badge {
  position: absolute;
  top: -10px;
  right: -10px;
  padding: 5px 10px;
  border-radius: 50%;
  background: #d6a8b7;
  color: #fff;
}

table {
  color: #e2e2e2;
  padding: 10px;
  width: 100%;
}

table th,
table td {
  padding: 15px;
  text-align: left;
}

table tbody tr {
  background-color: #1c223b;
}

table tbody tr:hover {
  background-color: #151b31;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}

table tbody tr td:first-of-type {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

table tbody tr td:last-of-type {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  text-align: center;
}

table tbody tr.priority-200 td:first-of-type {
  border-left: 5px solid #9c7c64;
}

table tbody tr.priority-300 td:first-of-type {
  border-left: 5px solid #5c8cdc;
}

table tbody tr.priority-600 td:first-of-type {
  border-left: 5px solid #40c587;
}

table tbody tr td .fa-circle {
  transform: scale(0.5);
}

table tbody tr.priority-200 td .fa-circle {
  color: #9c7c64;
}

table tbody tr.priority-300 td .fa-circle {
  color: #5c8cdc;
}

table tbody tr.priority-600 td .fa-circle {
  color: #40c587;
}

.delete {
  cursor: pointer;
  background-color: #242c4c;
  border: 0;
  border-radius: 2px;
  color: #909090;
  font-size: 16px;
  padding: 5px 10px;
  opacity: 0;
}

table tbody tr:hover .delete {
  opacity: 1;
}

.new-item {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 0 10px;
  width: 100%;
}

.new-item p {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  font-family: inherit;
  font-size: 36px;
  font-weight: 600;
  width: 50px;
  height: 50px;
  background-color: #d6a8b7;
  border-radius: 50%;
}

@media (max-width: 768px) {
  .container {
    padding: 20px;
  }

  table tbody tr .delete {
    opacity: 1;
  }

  table th:nth-of-type(3),
  table td:nth-of-type(3) {
    display: none;
  }
}
